/* Regole generali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.filter {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.2;
}

/* Inizio regole TOP PAGE */
header .top-page {
    width: 100%;
}

header .top-page img {
    height: 80px;
    padding-right: 30px;
    border-right: 1.5px solid lightgrey;
}

nav li {
    display: inline-block;
    margin-top: 30px;
}

nav li a {
    text-decoration: none;
    color: #9c9c9c;
    list-style: none;
    text-transform: uppercase;
    padding-right: 15px;
}

/* Fine regole TOP PAGE */

/* Inizio regole immagine iniziale */

main .imagemain {
    width: 100%;
    height: 400px;
    margin: 30px 0;
    position: relative;
}

.imagemain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter, .imagemain, img {
    border-radius: 15px;
}

.text-banner {
    position: absolute;
    bottom: 15%;
    left: 5%;   
    width: 50%;
    text-align: justify; 
    color: white;
}

.title-text-banner {
    font-size: 2rem;
}

/* Fine regole immagine iniziale */

/* Inizio regole testo main */
main .textmain {
    width: 100%;
    padding-bottom: 20px;
}
     
.textmain div, aside, section { /* Regole sezioni interne main */
    float: left;
}
        
.textmain::after {  /* Clearfix */
    content: '';
    display: table;
    clear: both;
}

    /* inizio titolo */
.textmain div.top-main {
    width: 100%;
    margin-bottom: 20px;
}

.textmain div.top-main h1 {
    font-weight: 800;
}

.textmain div.top-main span {
    font-weight: 500;
    color: #b1aeae;
}
    /* fine titolo */

    /* inizio regole generali img main */

.img-main {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    position: relative;
}

.img-main img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
    /* fine regole generali img main */

    /* inizio lato sx */
.textmain aside.left-main {
    width: 22%;
    margin-right: 2%;
}

.testomain h2, p {
    font-weight: 200;
    font-size: 0.9rem;
    margin: 15px 0;
}

.testomain p {
    color: #a19d9d;
}

.textmain section.central-main {
    width: 52%;
}

.textmain aside.right-main {
    width: 22%;
    margin-left: 2%;
}
/* Fine regole testo main */

/* Inizio regole footer */
footer .bottompage {
    width: 100%;
    height: 100px;
    background-color: purple;
    margin-top: 20px;
}
/* Fine regole footer */







